* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  height: auto;
}

.navWrapper {
  max-width: 1500px;
  height: auto;
}

.navigation {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  background: #eeda5d;
}

.logoWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px auto 10px auto;
  font-size: 40px;
  color: #9c9da1;
  text-shadow: 3px 2px #4b4625;
}

.ulWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.navList > li {
  list-style-type: none;
  margin-bottom: 10px;
}

.navList {
  margin: auto;
}

.btn {
  background-color: #9c9da1;
  width: 100px;
  height: 20px;
  font-size: 15px;
  border: 1px solid #5b5c5e;
  box-shadow: 2px 1px 2px 2px #bcaf51;
  margin-top: 5px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bookContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  width: 85%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  background-color: #fff;
}

.bookCard {
  position: relative;
  display: flex;
  margin: 20px;
  flex-direction: row;
  width: 400px;
  height: 380px;
}

.bookImg {
  width: 200px;
  height: 280px;
}

.mainInfo {
  display: flex;
  position: relative;
  flex-direction: column;
}

.mainInfo > p,
.mainInfo > h3 {
  text-align: center;
}

.aboutBook {
  margin: 0 10px;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .bookContainer {
    padding-top: 20px;
  }

  .bookCard {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .bookContainer {
    margin-top: 220px;
  }
  .bookCard {
    width: 90%;
  }
}

@media screen and (min-width: 701px) {
  .bookContainer {
    margin-top: 185px;
  }

  .bookCard {
    width: 43%;
  }
}
